.sticky-left {
  position: sticky;
  left: 0;
  z-index: 1019;
}

.table.with-sticky {
  border-collapse: separate;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
}

.table.with-sticky td,
.table.with-sticky th {
  border-width: 0 1px 1px 0;
}

:root {
  --toastify-toast-width: 60%;
}

.status-notice {
  position: absolute;
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 0.25rem;
}

.status-notice__danger {
  background-color: rgba(220, 53, 69, 0.9);
}

.status-notice__warning {
  background-color: rgba(255, 193, 7, 0.9);
}

.status-notice__success {
  background-color: rgba(25, 135, 84, 0.9);
}

*:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
